<h1>Stupid Coach</h1>

<div class="question">
<%= @question %>
<p><em>-You</em></p>
</div>
<br>
<div class="answer">
<%= @response %>
<p><em>-Your Coach</em></p>
</div>


<br>

<p><%= link_to "Ask again", ask_path, class:"ask-again" %></p>
