<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form action="answer" data-turbo="false" id="ask-form">
  <input type="text" name="ask" placeholder="Ask me a question!" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
